.meow-auto-complete {
  position: relative;
  display: inline-block;
  .meow-suggestion-list {
    list-style: none;
    position: absolute;
    left: 0;
    padding: 0;
    margin: 0;
    min-width: 100%;
    margin: 5px 0;
    padding: 5px 0;
    white-space: nowrap;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(0,0,0,.2);
    border-radius: $border-radius-base;
    z-index: 900;
    .meow-suggestion-item {
      margin: 0;
      padding: 6px 14px;
      font-size: $font-size-base;
      clear: both;
      color: $body-color;
      cursor: pointer;
      &:hover, &.meow-suggestion-item-focus {
        background-color: #f3f3f3 !important;
      }
    }
    .meow-suggestion-loading {
      text-align: center;
      color: $body-color;
    }
  }
}