@include zoom-animation('top', scaleY(0), scaleY(1), center top);
@include zoom-animation('left', scale(.45, .45), scale(1, 1), top left);
@include zoom-animation('right', scale(.45, .45), scale(1, 1), top right);
@include zoom-animation('bottom', scaleY(0), scaleY(1),  center bottom);

.zoom-in-collapse-enter {
  opacity: 0;
}
.zoom-in-collapse-enter-active {
  opacity: 1;
  transition: height .3s cubic-bezier(0.23, 1, 0.32, 1) .2s, opacity .1s cubic-bezier(0.23, 1, 0.32, 1);
}
.zoom-in-collapse-exit {
  opacity: 1;
}
.zoom-in-collapse-exit-active {
  opacity: 0;
  transition: height .3s cubic-bezier(0.23, 1, 0.32, 1) .1s, opacity .3s cubic-bezier(0.23, 1, 0.32, 1) .1s;
}
